<!DOCTYPE html>
<html>
<head>
    <title>Request Logs</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Dark background for modal pre */
        .modal-body pre {
            background-color: #343a40;
            color: white;
            padding: 15px;
            border-radius: 5px;
            overflow-x: auto;
            white-space: pre-wrap;
        }
    </style>
</head>
<body class="container">
<h1 class="my-5">Voxu Logs</h1>
<div class="form-group col-6">
    <input type="text" class="form-control" id="searchInput" placeholder="Search by status code, method, or URL">
</div>
<table class="table" id="logsTable">
    <thead>
    <tr>
        <th>Method</th>
        <th>URL</th>
        <th>IP Address</th>
        <th>Status</th>
        <th>Time Ago</th>
        <th>👁️</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs|sort(attribute='timestamp', reverse=True) %}
    <tr>
        <td>{{ log.method }}</td>
        <td>{{ log.url }}</td>
        <td>{{ log.ip_address }}</td>
        <td>
            {% if log.response_status == 200 %}
            <span class="badge badge-pill badge-success">{{ log.response_status }}</span>
            {% elif log.response_status >= 500 %}
            <span class="badge badge-pill badge-danger">{{ log.response_status }}</span>
            {% elif log.response_status >= 400 %}
            <span class="badge badge-pill badge-warning">{{ log.response_status }}</span>
            {% else %}
            <span class="badge badge-pill badge-secondary">{{ log.response_status }}</span>
            {% endif %}
        </td>
        <td class="timestamp">{{ log.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-toggle="modal" data-target="#detailsModal{{ loop.index }}">
                👁️
            </button>
            <!-- Modal -->
            <div class="modal fade" id="detailsModal{{ loop.index }}" tabindex="-1" role="dialog"
                 aria-labelledby="detailsModalLabel{{ loop.index }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Details: {{ log.method }} - {{ log.url }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab"
                                       href="#headers{{ loop.index }}">Headers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#body{{ loop.index }}">Payload</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#responseHeaders{{ loop.index }}">Response
                                        Headers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#responseBody{{ loop.index }}">Response
                                        Body</a>
                                </li>
                                {% if log.response_status != 200 %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#aiSuggestion{{ loop.index }}">Get AI
                                        suggestion</a>
                                </li>
                                {% endif %}
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="headers{{ loop.index }}" class="container tab-pane active"><br>
                                    <pre class="preItem">{{ log.headers }}</pre>
                                </div>
                                <div id="body{{ loop.index }}" class="container tab-pane fade"><br>
                                    <pre>{{ log.body }}</pre>
                                </div>
                                <div id="responseHeaders{{ loop.index }}" class="container tab-pane fade"><br>
                                    <pre class="preItem">{{ log.response_headers }}</pre>
                                </div>
                                <div id="responseBody{{ loop.index }}" class="container tab-pane fade"><br>
                                    <pre>{{ log.response_body }}</pre>
                                </div>
                                {% if log.response_status != 200 %}
                                <div id="aiSuggestion{{ loop.index }}" class="container tab-pane fade"><br>
                                    <button id="aiSuggestionBtn{{ log.id }}"
                                            class="btn btn-secondary get-ai-suggestion-btn my-4"
                                            data-log-id="{{ log.id }}" onclick="getAISuggestion('{{log.id}}')">
                                        View Suggestion
                                    </button>
                                    <div id="aiSuggestionContent{{ log.id }}"></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center" id="pagination"></ul>
</nav>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Include Font Awesome for eye icon -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<!-- Include moment.js for timestamp conversion -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    // Convert timestamps to relative time
    document.addEventListener("DOMContentLoaded", function () {
        var timestamps = document.querySelectorAll('.timestamp');
        timestamps.forEach(function (element) {
            var timestamp = element.textContent.trim();
            var timeAgo = moment.utc(timestamp, "YYYY-MM-DD HH:mm:ss").fromNow();
            element.textContent = timeAgo;
        });
    });

    // Search function
    document.getElementById('searchInput').addEventListener('input', function () {
        var searchValue = this.value.trim().toLowerCase();
        var rows = document.querySelectorAll('#logsTable tbody tr');

        rows.forEach(function (row) {
            var cells = row.cells;
            var found = false;
            for (var i = 0; i < cells.length; i++) {
                var cellText = cells[i].textContent.trim().toLowerCase();
                if (cellText.includes(searchValue)) {
                    found = true;
                    break;
                }
            }
            if (found) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    var elements = document.getElementsByClassName("preItem");
    for (var i = 0; i < elements.length; i++) {
        var element = elements[i];
        var contentString = element.textContent;
        try {
            var jsonObj = JSON.parse(contentString);
            element.textContent = JSON.stringify(jsonObj, undefined, 2);
        } catch (e) {
            console.log("Invalid content in element " + i);
        }
    }

    function showItemsForPage(page) {
        var itemsPerPage = 20; // Number of items per page
        var startIndex = (page - 1) * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;

        $('#logsTable tbody tr').hide().slice(startIndex, endIndex).show();
    }

    // Show initial page
    showItemsForPage(1);

    // Pagination initialization
    var itemsPerPage = 20; // Number of items per page
    var $tableRows = $('#logsTable tbody tr');
    var pageCount = Math.ceil($tableRows.length / itemsPerPage);

    // Add pagination items
    for (var i = 1; i <= pageCount; i++) {
        $('#pagination').append('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
    }

    // Pagination click event
    $('#pagination').on('click', 'a', function (e) {
        e.preventDefault();
        var page = parseInt($(this).text());
        showItemsForPage(page);
        $(this).parent().addClass('active').siblings().removeClass('active');
    });

    function getAISuggestion(logId) {
        const aiSuggestionBtn = document.getElementById(`aiSuggestionBtn${logId}`);
        aiSuggestionBtn.textContent = 'Loading...';
        aiSuggestionBtn.disabled = true;
        fetch(`/voxu/log/${logId}`)
            .then(response => response.text())
            .then(data => {
                const aiSuggestionContent = document.getElementById(`aiSuggestionContent${logId}`);
                if (data) {
                    aiSuggestionContent.innerHTML = `<p>${data}</p>`;
                } else {
                    aiSuggestionContent.innerHTML = `<p>No AI suggestion available.</p>`;
                }
                aiSuggestionBtn.remove();
            })
            .catch(error => {
                console.error('Error fetching AI suggestion:', error);
                const aiSuggestionContent = document.getElementById(`aiSuggestionContent${logId}`);
                aiSuggestionContent.innerHTML = `<p>Error fetching AI suggestion. Please try again later.</p>`;
                aiSuggestionBtn.textContent = 'Try Again';
            });
    }
</script>
</body>
</html>
